<div class="content">
    <div fxLayout="row" fxLayoutAlign="space-evenly center"  fxLayoutGap="18px">
        <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let item of mensClothingList">
            <mat-card  style="margin-top:10px;">
                <mat-card-header>
                    <mat-card-title> {{item.title}}</mat-card-title>
                    <mat-card-subtitle> ${{item.price}}
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <!-- <p>
                        test
                    </p> -->
                    <img style="height:100px; width: 100px;" src="{{ item.image }}" />
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary" (click)="goToProductDetails(item.id)">Details</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>
<ngx-spinner type="ball-spin-clockwise"></ngx-spinner>